PORT=5000
SERVER_PUBLIC_URL=http://187.127.135.13:5000
MONGODB_URI=mongodb+srv://myoudigi_077_db_user:MyYoudigi077@cluster0.7sdc4or.mongodb.net/?appName=Cluster0
JWT_ACCESS_SECRET=your_access_token_secret_here_change_this
JWT_REFRESH_SECRET=your_refresh_token_secret_here_change_this
JWT_ACCESS_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d
UPLOAD_DIR=./uploads
B2_APPLICATION_KEY_ID=
B2_APPLICATION_KEY=
B2_BUCKET_NAME=
B2_BUCKET_ID=
CDN_URL=
